<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Dashboard</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="dashboard-page">
    <aside class="sidebar">
    <h2>UniNest</h2>
    <nav>
        <ul>
            <li class="active"><a href="#">Home</a> </li>
            <li><a href="#">My Adverts</a></li>
            <li><a href="#">Upload Adverts</a></li>
            <li><a href="#">Get verified</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
    </nav>
    </aside>

    <main class="content">
        <h2>AGENT DASHBOARD</h2>

        <div class="card-2">
            <div class="agents">
              <h1>6</h1>
              <p>Adress live</p>  
            </div>
            <div class="agents">
                <h1>3</h1>
                <p>Lanlords repesented</p>
            </div>
            <div class="agents">
                <h1>18</h1>
                <p>Tenants allowed (total)</p>
            </div>
        </div>
        <section>
            <h2>Get verified</h2>
            <p>Add your NIN and landlord details to earn a verifiable badge on your listings </p>
            <button>Continue</button>
        </section>
        <section>
            <h3>Posted adverts </h3>
            <button>upload advert</button>
            <p>Listings</p>
            <p>Rent</p>
            <p>Tenants</p>
            <p>Address</p>
            

        </section>
    
    </main>
</body>
</html>
