<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNINEST</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<section class="header">
    <h2>UniNest</h2>
   <div class="nav-links">
    <a href="#"> View Listings</a>
    <a href="#"> Create account</a>
   </div>
    <h3>Verified student Housing</h3>
    <h1>FIND  YOUR NEST CAMPUS </h1>
    <p>Search by school, browse real plans and unlock the full address only when you're ready to reach out </p>
    <form>
    <input type="text" placeholder="Search...">
    <button type="submit">Search</button>
</form>
</section>
<div class="verification">
<p>NIN verified</p> <p>stuent ID checked</p> <p> proof of ownership</p> <p>School confirmed</p>
</div>
<h1>ROOMS NEAR YOU</h1>
<p>General location shown free - full address unlocks after subscribing</p>
<div class="parent">
<div class="available-listings">
    <p> Akoka, Lagos - 8 min to Unilag </p>
    <p> N350,000 / YR</p>
   <p>view Address & Contact</p>
</div>
<div class="available-listings">
    <p>Ile-ife - near OAU gate</p>
    <p>N280,000 / yr </p>
    <p> view Address & Contact </p>
</div>
<div class="available-listings">
    <p>Bodija, ibadan - near UI</p>
    <p>N 310,000 / yr</p>
    <p> view Adress & Contact</p>
   </div>
</div>
</body>
</html>
